{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<article>
    <header>
        {% include "article_header.html" %}
    </header>

    <div class="body">
        {{ article.content }}
    </div>

    {% if article.prev_article %}
      <nav class="older">
          <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
              <span class="lpin"></span>
              {{ article.prev_article.title }}
          </a>
      </nav>
    {% endif %}

    {% if article.next_article %}
      <nav class="newer">
          <a href="{{ SITEURL }}/{{ article.next_article.url}}">
              {{ article.next_article.title }}
              <span class="rpin"></span>
          </a>
      </nav>
    {% endif %}

</article>
{% endblock %}
