{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Categories{% endblock %}

{% block resume %}{% endblock resume %}

{% block content %}
    <h1>Catégories</h1>
    <ul>
    {% for category, publications in categories|sort %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }})</li>
    {% endfor %}
    </ul>
{% endblock %}
