{% if SOCIAL %}{% include 'social.html' %}{% endif %}

<a id="cc-logo" rel="licence" title="Attribution - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions 4.0 International (CC BY-NC-SA 4.0)" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr" target="_blank"></a>

Site construit le
<em>
    {% include 'date' %} à {% include 'time' %} [UTC]
</em>
avec le commit
<em>
    <a href="{{ REPO_COMMIT_URL }}/{% include 'commit' %}" title="Lien vers le commit utilisé pour construire cette version du site"><code>{% include 'commit' %}</code></a>
</em>
&bull;
<a href="{{ SITEURL }}/mentions-legales/" title="Mentions légales">Mentions légales</a>
<br />
Motorisé par <a href="http://getpelican.com/">Pelican</a>, qui tire grand avantage de <a href="http://python.org">Python</a>
&bull;
Image de fond par <a href="https://www.toptal.com/designers/subtlepatterns/">Subtle Patterns</a>
