{% extends "base.html" %}
{% block content %}
<h2>
  {% block title %}
    {{ articles|length }} publications taggées «{{ tag }}»
  {% endblock %}
</h2>
<ul class="post-list">
{% for article in dates %}
  <li>
    <a href="/{{ article.url }}">{{ article.title }}</a>
    <time>{{ article.locale_date }}</time>
  </li>
{% endfor %}
</ul>
<p>&rarr; <a href="{{ SITEURL }}/{{ TAGS_URL }}">Parcourir les {{ tags|length }} tags</a></p>
{% endblock content %}
