{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content %}

<section>
    <h2>Liste des tags</h2>
    {<br/>
    {% for tag, publications in tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}">'{{ tag }}'</a>: {{ publications|count }}{% if not loop.last %}, {% endif %}
    {% endfor %}
    <br/>}
</section>

{% endblock %}
